.idea/.name
.idea/encodings.xml
.idea/htdocs.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
html/.idea/.name
html/.idea/html.iml
html/.idea/misc.xml
html/.idea/modules.xml
html/.idea/vcs.xml
html/.idea/workspace.xml
