RewriteEngine on
RewriteBase /
RewriteRule ^([^\.]+)$ index.php?req=$1 [L]
AddDefaultCharset utf-8

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"